#footer {
    background-image: url('/src/resources/img/footer.svg');
    height: 675px;
    
    ul {
        li {
            margin-bottom: $margin;
        }
    }

}

@media (max-width: $breakpoint-sm) {
    #footer {
        img {}
    }
}