#navbar {
    .burger__menu {
        display: none;
        font-size: $font-size-xl;
    }

    ul {
        display: flex;
    }
}



@media (max-width: $breakpoint-lg) {
    #navbar {
        ul {
            display: none;
            flex-direction: column;
            background-color: $c-green;
            padding: $padding;
            position: absolute;
            left: 0;
            top: 70px;
            width: 100%;

            li:last-child {
                display: none;
            }
        }

        .burger__menu {
            display: flex;
        }
    }

}