#products {
    margin-bottom: 80px;
    .burger__menu {
        display: none;
        font-size: $font-size-xl;
    }

    ul {
        display: flex;
    }

    .container {

        .products__content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .products__item {
                width: 200px;
                margin-bottom: $margin-xl;
                padding: $padding;
                box-sizing: border-box;
                text-align: center;
                box-shadow: 5px 5px 6px 5px rgba(0, 0, 0, .1);

                .products__title {
                    h6 {
                        color: $c-green;
                    }
                }

                img {
                    width: 100%;
                    box-sizing: border-box;
                }
            }
        }
    }

}
