#slider {

    margin-top: -140px;

    .slider__item {
        background-color: $c-white;
        box-shadow: 0 0 9px 0 rgba(0, 0, 0, .3);
        position: relative;
        height: 250px;


        h1 {
            color: $c-dark-green;
            font-size: $font-size-xl;
            margin-bottom: $margin;
        }

        span {
            color: $c-green;
        }

        .slider__content {
            position: absolute;
            top: 30px;
            left: 30px;
        }

    }

    .ananas {
        background-image: url('/src/resources/img/ananas-bg.svg');
        background-repeat: no-repeat;
        background-size: cover;

    }

    .vegetables {
        background-image: url('/src/resources/img/and-bg.svg');
        background-repeat: no-repeat;
        background-size: cover;

    }

    .and {
        background-image: url('/src/resources/img/and-bg.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: $breakpoint-sm) {
    #slider {
        .slider__item {
            h1 {
                margin-bottom: $margin-xs;
            }

            .slider__content {
                top: 20px;
            }

        }

        .ananas {
            img {
                height: 180px;
            }
        }

        .vegetables {
            img {
                width: 230px;
                height: 180px;
            }
        }

        .and {
            img {
                height: 220px;
            }
        }
    }
}

@media (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) {
    .ananas {
        img {
            height: 180px;
        }
    }

    .vegetables {
        img {
            width: 250px;
            height: 180px;
        }
    }

    .and {
        img {
            height: 200px;
        }
    }
}